#phone
{
    margin-top: 15px;
    background: transparent url("../phonelayouts/lumia710whiteblue.png") no-repeat;
    width: 316px;
    height: 600px;
}
#screens
{
    padding-left: 30px;
    padding-top: 100px;
}
#slider
{
    margin-left: 10px;
}
#slider ul, #slider li 
{
	margin: 0px 0px;
	height: 400px;
	width: 240px;
	padding:0;
	list-style:none;
}
